.side-content {
  height: 60vh;
  overflow-y: auto;
  margin: auto;
  padding: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
}
.table-container {
  width: 100%;
  overflow-x: auto;
}

.firstHead{
  background-color: #00bef3;
  height: 40px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}


tbody {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  overflow-y: auto;
}


.first-row {
  border-bottom: 1px solid;
  border-bottom: 1px solid rgb(185, 184, 177);
}

.firstData {
  padding-left: 50px;
}

.CompanyName {
  font-weight: bold;
  color: #00bef3;
  cursor: pointer;
}

.icon {
  display: flex;
  margin-left: -20px;
  flex-direction: column;
}

.mapicon{
  position: relative;
  top: 140px;
}

.companyIcon{
  position: relative;
  top: 30px;
}


