footer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 14px;
    width: 100%;
    background-color: rgb(43, 41, 41);
    padding: 10px 0;
    text-align: center;
    color: white;
    border-top: 1px solid #a2a2a2;
    height: 50px;
  }
  