/* Your existing styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-width: 1280px;
}

.logo {
  font-size: 1.45em;
  font-weight: bold;
  margin-right: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.main-nav {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #34495e;
  font-size: 0.99em;
  text-decoration: none;
}

.main-nav a:hover {
  color: #718daa;
}

.logout {
  height: 35px;
  min-width: 70px;
  padding: 5px 20px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  background-color: none;
  margin-left: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}

.form-container {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  gap: 30px;
}

form button[type="submit"] {
  height: 35px;
  min-width: 70px;
  padding: 5px 20px;
  background-color: #00bef3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

form input {
  height: 35px;
  width: 20vw;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input::placeholder {
  opacity: 0.8;
}

/* New styles for the clear button */

.clear-btn {
  background-color: white;
  font-style: normal;
  font-size: 12px;
  cursor: pointer;
  color: black;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.search-input {
  position: relative;
  display: inline-block;
}

.search-input input {
  padding-right: 30px; /* Space for the clear icon */
}

.search-input i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}
