
.sidebar {
  width: 35%;
  transition: width 0.3s ease, height 0.3s ease; /* Add height transition */
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.sidebar.collapsed {
  width: 10%;
  height: 50px;
}

.menu-icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.sidebar.collapsed .menu-icon {
  transform: rotate(180deg);
}

.menu-item {
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  transition: all 0.3s ease; 
}

.menu-item1{
  display: flex;
 align-content: center;
 text-align: center;
}

.sidebar.collapsed .menu-item {
  padding: 10px; /* Adjust padding for collapsed items */
}

.menu-item img {
  margin-right: 10px;
}

.menu-item span {
  display: inline-block;
}

.submenu {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 200px;
  overflow: hidden;
}

.sidebar.collapsed .submenu {
  max-height: 0;
  opacity: 0;
}

.submenu.expanded {
  max-height: 100%;
  opacity: 1;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar.collapsed {
    width: 50px;
  }

  .menu-item {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .submenu {
    max-height: 0;
    opacity: 0;
  }

  .sidebar.collapsed .submenu.expanded {
    max-height: 100%;
    opacity: 1;
  }
}





/* ... your other CSS styles ... */
  

  
  .dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
  }
  
  .menu-item {
   display: flex;
   justify-content: left;
   align-items: center;
   background-color: #F8F8F8;
  }





  span {
    margin-left: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .menu {
    background-color: white;
    height: 70vh;
  }

  .dropdown {
    margin-top: 10%;
    height: 50vh;
  }


  .dropdown select {
    width: 95%;
  }

  
  /* Scrollbar styling */
 
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .sidebar-footer button {
    background-color: #CCCCCC;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    border: 1px;
  }


.top {
  background-color: #F8F8F8 !important;
  margin: 0; /* Remove all margins */
  padding:5%; /* Remove padding as well if needed */
}