.side-content {
  overflow-y: auto;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: scroll;
  margin: 2%;
  width: 100%;
}

.table-container {
  overflow-x: auto;
}

table {
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  text-align: left;
}

th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  flex: 1; 
}

th span{
  display: flex;
  flex: row;
}

tbody {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  overflow-y: auto;
}

.first-row {
  border-bottom: 1px solid;
  border-bottom: 1px solid rgb(185, 184, 177);
}

.firstData {
  padding-left: 50px;
}

.CompanyName {
  font-weight: bold;
  color: #00bef3;
  cursor: pointer;
}

.icon {
  display: flex;
  margin-left: -20px;
  flex-direction: column;
}

.mapicon {
  position: relative;
  top: 128px;
}

.companyIcon {
  position: relative;
  top: 30px;
}

.pagination {
  margin-left: 350px;
}

.display-content {
  display: flex;
  justify-content: right;
  gap: 30px;
}

.filter-tags {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-tags button {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: none;
}

span{
  display :flex;
  align-items: center;
}