/* Keep your existing CSS and add the following styles */

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
}

.logo-container {
  flex: 1;
}

.search-form {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-group input {
  width: 150px;
  max-width: 100%;
}

.logo {
  height: auto;
  width: 100%;
  max-width: 400px;
}
