.footer {
    background-color: #303030;
    color: white;
    padding: 20px 0;
     /* position: sticky; */
  }
  
  .footer p {
    margin: 0;
    background-color: #303030;
    color: wheat;
  }

