.text-center {
    margin: 5% 10%;
    color: #05313d;
    background-color: #f8f8f8;
    padding: 3%;
  }

  .logo-container img{
    width: 250px;
    height: 150px;
    margin-left: 100px;
  }
  
  .form-signin {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 5%;
  }
  
  .form-signin input,
  .btn {
    min-width: 100px;
    padding: 8px; 
  }
  
  h1 {
    color: #05313d;
    font-size: 24px; 
  }
  
  .btn {
    width: 100%;
    max-width: 200px;  
  }

   @media screen and (min-width: 768px) {
    .text-center {
      margin: 5% 20%;
    }
  
    .btn {
      max-width: 150px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .text-center {
      margin: 5% 30%;
    }
  }
  